<div class="expense-form-container">
    <div class="form-card">
        <h1 class="form-title">{{ 'expense.form.Edittitle' | translate }}</h1>
        <form [formGroup]="expenseForm" (ngSubmit)="onSubmit()">
            <div class="form-field">
                <label for="expense_date">
                    <i class="fas fa-calendar"></i> {{ 'expense.form.dateLabel' | translate }}
                </label>
                <input type="date" id="expense_date" formControlName="expense_date">
            </div>
            <div class="form-field">
                <label for="plot">
                    <i class="fas fa-map-marker-alt"></i> {{ 'harvest.plot' | translate }}
                </label>
                <select id="plot" formControlName="plot_id">
                    <option value="" disabled selected>{{ 'harvest.selectPlot' | translate }}</option>
                    <option *ngFor="let plot of plots" [value]="plot.plot_id">{{ plot.plot_name }}</option>
                </select>
            </div>
            
            <div class="form-field">
                <label for="category">
                    <i class="fas fa-tag"></i> {{ 'expense.form.categoryLabel' | translate }}
                </label>
                <select id="category" formControlName="category">
                    <option value="" disabled selected>{{ 'expense.form.categoryPlaceholder' | translate }}</option>
                    <option *ngFor="let category of categories" [value]="category.value">
                        {{ category.label | translate }}
                    </option>
                </select>
            </div>
            <div class="form-field">
                <label for="amount">
                    <i class="fas fa-money-bill-wave"></i> {{ 'expense.form.amountLabel' | translate }}
                </label>
                <input type="number" id="amount" formControlName="amount">
            </div>
            <div class="form-field">
                <label for="details">
                    <i class="fas fa-info-circle"></i> {{ 'expense.form.detailsLabel' | translate }}
                </label>
                <textarea id="details" formControlName="details" rows="3"></textarea>
            </div>
            <button type="submit" [disabled]="!expenseForm.valid" class="submit-button">
                <i class="fas fa-save"></i> {{ 'expense.form.saveButton' | translate }}
            </button>
        </form>
    </div>
</div>
