<div class="expense-form-container">
  <div class="form-card">
    <h1 class="form-title" style="font-weight: bold;">{{ 'expense.form.title' | translate }}</h1>
    <form [formGroup]="expenseForm" (ngSubmit)="onSubmit()">



      <div class="form-field">
        <label for="category">
          <i class="fas fa-tag"></i> {{ 'expense.form.categoryLabel' | translate }}
        </label>
        <select id="category" formControlName="category">
          <option value="" disabled selected>{{ 'expense.form.categoryPlaceholder' | translate }}</option>
          <option *ngFor="let category of categories" [value]="category.value">
            {{ category.label | translate }}
          </option>
        </select>
      </div>

      <!-- ค่าฮอร์โมน -->
      <div *ngIf="selectedCategory === 'ค่าฮอร์โมน'" class="form-category-container">
        <div class="form-field">
          <label for="plotId"> แปลง</label>
          <select id="plot_id" class="form-control" formControlName="plot_id" [disabled]="plotId !== null">
            <option value="" disabled selected>เลือกแปลง</option>
            <option *ngFor="let plot of plots" [value]="plot.plot_id">{{ plot.plot_name }}</option>
          </select>
        </div>

        <div class="form-field">
          <label for="expenseDate">วันที่ซื้อ</label>
          <input id="expenses_date" type="date" formControlName="expenses_date" />
        </div>
        <div class="form-field">
          <label for="purchaseLocation">สถานที่ซื่อ</label>
          <input id="purchase_location" type="text" formControlName="purchase_location" placeholder="กรอกสถานที่ซื่อ" />
        </div>

        <div class="form-field">
          <label for="brand">ยี่ห้อ</label>
          <input id="brand" type="text" formControlName="brand" placeholder="กรอกยี่ห้อ" />
        </div>

        <div class="form-field">
          <label for="volume">ปริมาณ(ML)</label>
          <input id="volume" type="number" formControlName="volume" placeholder="กรอกปริมาณ (เช่น 500 ml)" />
        </div>

        <div class="form-field">
          <label for="quantity">จำนวนขวด</label>
          <input id="quantity" type="number" formControlName="quantity" placeholder="กรอกจำนวนขวด" />
        </div>

        <div class="form-field">
          <label for="pricePerBottle">ราคาต่อขวด</label>
          <input id="price_per_bottle" type="number" formControlName="price_per_bottle" placeholder="กรอกราคาต่อขวด" />
        </div>

        <div class="form-field">
          <label for="totalPrice">ราคารวม</label>
          <input id="totalPrice" type="number" [value]="calculatedTotalPrice" readonly
            placeholder="ราคารวมจะคำนวณอัตโนมัติ" />
        </div>


      </div>



      <!-- ค่าปุ๋ย -->
      <div *ngIf="selectedCategory === 'ค่าปุ๋ย'" class="form-category-container">

        <!-- แปลง -->
        <div class="form-field">
          <label for="plotId"> แปลง</label>
          <select id="plot_id" class="form-control" formControlName="plot_id" [disabled]="plotId !== null">
              <option value="" disabled selected>เลือกแปลง</option>
              <option *ngFor="let plot of plots" [value]="plot.plot_id">{{ plot.plot_name }}</option>
          </select>
      </div>
        <div class="form-field">
          <label for="expenseDate">วันที่ซื้อ</label>
          <input id="expenses_date" type="date" formControlName="expenses_date" />
        </div>
        <div class="form-field">
          <label for="purchaseLocation">สถานที่ซื่อ</label>
          <input id="purchase_location" type="" formControlName="purchase_location" placeholder="กรอกสถานที่ซื่อ" />
        </div>

        <div class="form-field">
          <label for="brand">ยี่ห้อ</label>
          <input id="brand" type="text" formControlName="brand" placeholder="กรอกยี่ห้อ" />
        </div>
        <!-- <div class="form-field">
          <label for="formula">สูตร</label>
          <input id="formula" type="text" formControlName="formula" placeholder="กรอกสูตร (เช่น 15-15-15)"
            (input)="onFormulaInput($event)" />
        </div> -->

        <div class="form-field">
          <label for="pricePerBag">ราคาต่อถุง</label>
          <input id="price_per_bag" type="number" formControlName="price_per_bag" placeholder="กรอกราคาต่อถุง" />
        </div>
        <div class="form-field">
          <label for="quantity">จำนวนถุง</label>
          <input id="quantity" type="number" formControlName="quantity" placeholder="กรอกจำนวนถุง" />
        </div>
        <div class="form-field">
          <label for="totalPrice">ราคารวม</label>
          <input id="totalPrice" type="number" [value]="calculatedTotalPrice" readonly
            placeholder="ราคารวมจะคำนวณอัตโนมัติ" />
        </div>



      </div>

      <!-- ค่ายาฆ่าหญ่า -->
      <div *ngIf="selectedCategory === 'ค่ายาฆ่าหญ้า'" class="form-category-container">

        <!-- แปลง -->
        <div class="form-field">
          <label for="plotId"> แปลง</label>
          <select id="plot_id" class="form-control" formControlName="plot_id" [disabled]="plotId !== null">
              <option value="" disabled selected>เลือกแปลง</option>
              <option *ngFor="let plot of plots" [value]="plot.plot_id">{{ plot.plot_name }}</option>
          </select>
      </div>
        <div class="form-field">
          <label for="expenseDate">วันที่ซื้อ</label>
          <input id="expenses_date" type="date" formControlName="expenses_date" />
        </div>
        <div class="form-field">
          <label for="purchaseLocation">สถานที่ซื่อ</label>
          <input id="purchase_location" type="text" formControlName="purchase_location" placeholder="กรอกสถานที่ซื่อ" />
        </div>
        <div class="form-field">
          <label for="brand">ยี่ห้อ</label>
          <input id="brand" type="text" formControlName="brand" placeholder="กรอกยี่ห้อ" />
        </div>
        <div class="form-field">
          <label for="volume">ปริมาณ(ML)</label>
          <input id="volume" type="text" formControlName="volume" placeholder="กรอกปริมาณ (เช่น 500 ml)" />
        </div>
        <div class="form-field">
          <label for="quantity">จำนวนขวด</label>
          <input id="quantity" type="number" formControlName="quantity" placeholder="กรอกจำนวนขวด" />
        </div>
        <div class="form-field">
          <label for="pricePerBottle">ราคาต่อขวด</label>
          <input id="price_per_bottle" type="number" formControlName="price_per_bottle" placeholder="กรอกราคาต่อขวด" />
        </div>

        <div class="form-field">
          <label for="totalPrice">ราคารวม</label>
          <input id="total_price" type="number" [value]="calculatedTotalPrice" readonly
            placeholder="ราคารวมจะคำนวณอัตโนมัติ" />
        </div>




      </div>

      <!-- ค่าคนตัดต้น -->
      <div *ngIf="selectedCategory === 'ค่าคนตัดต้น'" class="form-category-container">

        <!-- แปลง -->
        <div class="form-field">
          <label for="plotId"> แปลง</label>
          <select id="plot_id" class="form-control" formControlName="plot_id" [disabled]="plotId !== null">
              <option value="" disabled selected>เลือกแปลง</option>
              <option *ngFor="let plot of plots" [value]="plot.plot_id">{{ plot.plot_name }}</option>
          </select>
      </div>
        <div class="form-field">
          <label for="expenseDate">วันที่ตัด</label>
          <input id="expenses_date" type="date" formControlName="expenses_date" />
        </div>

        <div class="form-field">
          <label for="numberOfTrees">จำนวนต้น</label>
          <input id="number_of_trees" type="number" formControlName="number_of_trees" placeholder="กรอกจำนวนต้น" />
        </div>

        <div class="form-field">
          <label for="pricePerTree">ราคาต่อต้น</label>
          <input id="price_per_tree" type="number" formControlName="price_per_tree" placeholder="กรอกราคาต่อต้น" />
        </div>

        <div class="form-field">
          <label for="totalPrice">ราคารวม</label>
          <input id="totalPrice" type="number" [value]="calculatedTotalPrice" readonly
            placeholder="ราคารวมจะคำนวณอัตโนมัติ" />
        </div>

      </div>

      <!-- ค่าคนปลูก -->
      <div *ngIf="selectedCategory === 'ค่าคนปลูก'" class="form-category-container">

        <div class="form-field">
          <label for="plotId"> แปลง</label>
          <select id="plot_id" class="form-control" formControlName="plot_id" [disabled]="plotId !== null">
              <option value="" disabled selected>เลือกแปลง</option>
              <option *ngFor="let plot of plots" [value]="plot.plot_id">{{ plot.plot_name }}</option>
          </select>
      </div>

        <div class="form-field">
          <label for="expenseDate">วันที่จ่ายเงิน</label>
          <input id="expenses_date" type="date" formControlName="expenses_date" />
        </div>

        <!-- <div class="form-field">
          <label for="workerName">ชื่อ</label>
          <input id="worker_name" type="text" formControlName="worker_name" placeholder="กรอกชื่อคนปลูก" />
        </div> -->

        <div class="form-field">
          <label for="landArea">จำนวนไร่</label>
          <input id="land_area" type="number" formControlName="land_area" placeholder="กรอกจำนวนไร่" />
        </div>

        <div class="form-field">
          <label for="pricePerRai">ราคาต่อไร่</label>
          <input id="price_per_rai" type="number" formControlName="price_per_rai" placeholder="กรอกราคาต่อไร่" />
        </div>

        <div class="form-field">
          <label for="totalPrice">ราคารวม</label>
          <input id="totalPrice" type="number" [value]="calculatedTotalPrice" readonly
            placeholder="ราคารวมจะคำนวณอัตโนมัติ" />
        </div>


      </div>

      <!-- ค่าคนฉีดยาฆ่าหญ่า -->
      <div *ngIf="selectedCategory === 'ค่าคนฉีดยาฆ่าหญ้า'" class="form-category-container">

        <div class="form-field">
          <label for="plotId"> แปลง</label>
          <select id="plot_id" class="form-control" formControlName="plot_id" [disabled]="plotId !== null">
              <option value="" disabled selected>เลือกแปลง</option>
              <option *ngFor="let plot of plots" [value]="plot.plot_id">{{ plot.plot_name }}</option>
          </select>
      </div>
        <div class="form-field">
          <label for="expenseDate">วันที่ฉีด</label>
          <input id="expenses_date" type="date" formControlName="expenses_date" />
        </div>

        <div class="form-field">
          <label for="numberOfCans">จำนวนถัง</label>
          <input id="number_of_cans" type="number" formControlName="number_of_cans" placeholder="กรอกจำนวนถัง" />
        </div>

        <div class="form-field">
          <label for="pricePerCan">ราคาต่อถัง</label>
          <input id="price_per_can" type="number" formControlName="price_per_can" placeholder="กรอกราคาต่อถัง" />
        </div>

        <div class="form-field">
          <label for="totalPrice">ราคารวม</label>
          <input id="totalPrice" type="number" [value]="calculatedTotalPrice" readonly
            placeholder="ราคารวมจะคำนวณอัตโนมัติ" />
        </div>


      </div>

      <!-- ค่าคนฉีดยาฮอโมน -->
      <div *ngIf="selectedCategory === 'ค่าคนฉีดยาฮอโมน'" class="form-category-container">

        <!-- แปลง -->
        <div class="form-field">
          <label for="plotId"> แปลง</label>
          <select id="plot_id" class="form-control" formControlName="plot_id" [disabled]="plotId !== null">
              <option value="" disabled selected>เลือกแปลง</option>
              <option *ngFor="let plot of plots" [value]="plot.plot_id">{{ plot.plot_name }}</option>
          </select>
      </div>

        <!-- วันที่ฉีด -->
        <div class="form-field">
          <label for="expenseDate">วันที่ฉีด</label>
          <input id="expenses_date" type="date" formControlName="expenses_date" />
        </div>

        <!-- จำนวนถัง -->
        <div class="form-field">
          <label for="numberOfCans">จำนวนถัง</label>
          <input id="number_of_cans" type="number" formControlName="number_of_cans" placeholder="กรอกจำนวนถัง" />
        </div>

        <!-- ราคาต่อถัง -->
        <div class="form-field">
          <label for="pricePerCan">ราคาต่อถัง</label>
          <input id="price_per_can" type="number" formControlName="price_per_can" placeholder="กรอกราคาต่อถัง" />
        </div>

        <!-- ราคารวม (คำนวณ) -->
        <div class="form-field">
          <label for="totalPrice">ราคารวม</label>
          <input id="totalPrice" type="number" [value]="calculatedTotalPrice" readonly
            placeholder="ราคารวมจะคำนวณอัตโนมัติ" />
        </div>


      </div>

      <!-- ค่าน้ำมัน -->
      <div *ngIf="selectedCategory === 'ค่าน้ำมัน'" class="form-category-container">

        <!-- แปลง -->
        <div class="form-field">
          <label for="plotId"> แปลง</label>
          <select id="plot_id" class="form-control" formControlName="plot_id" [disabled]="plotId !== null">
              <option value="" disabled selected>เลือกแปลง</option>
              <option *ngFor="let plot of plots" [value]="plot.plot_id">{{ plot.plot_name }}</option>
          </select>
      </div>

        <!-- วันที่เติม -->
        <div class="form-field">
          <label for="expenseDate">วันที่เติม</label>
          <input id="expenses_date" type="date" formControlName="expenses_date" />
        </div>

        <!-- ราคาต่อลิตร -->
        <div class="form-field">
          <label for="pricePerLiter">ราคาต่อลิตร</label>
          <input id="price_per_liter" type="number" formControlName="price_per_liter" placeholder="กรอกราคาต่อลิตร" />
        </div>

        <!-- จำนวนลิตร
        <div class="form-field">
          <label for="quantityLiters">จำนวนลิตร</label>
          <input id="quantity_liters" type="number" formControlName="quantity_liters" placeholder="กรอกจำนวนลิตร" />
        </div> -->

        <!-- ราคาที่จ่าย (คำนวณ) -->
        <div class="form-field">
          <label for="totalPrice">ราคาที่จ่าย</label>
          <input id="totalPrice" type="number" formControlName="totalPrice" placeholder="กรอกราคาที่จ่าย" />
        </div>


      </div>

      <!-- ค่าพันธุ์มัน -->
      <div *ngIf="selectedCategory === 'ค่าพันธุ์มัน'" class="form-category-container">
        <!-- ลงแปลงไหน -->
        <div class="form-field">
          <label for="plotId"> แปลง</label>
          <select id="plot_id" class="form-control" formControlName="plot_id" [disabled]="plotId !== null">
              <option value="" disabled selected>เลือกแปลง</option>
              <option *ngFor="let plot of plots" [value]="plot.plot_id">{{ plot.plot_name }}</option>
          </select>
      </div>

        <!-- วันที่ซื้อ -->
        <div class="form-field">
          <label for="expenseDate">วันที่ซื้อ</label>
          <input id="expenses_date" type="date" formControlName="expenses_date" />
        </div>
        <!-- สถานที่ซื้อ -->
        <div class="form-field">
          <label for="purchaseLocation">สถานที่ซื้อ</label>
          <input id="purchase_location" type="text" formControlName="purchase_location" placeholder="กรอกสถานที่ซื้อ" />
        </div>
        <!-- ชื่อพันธุ์ -->
        <div class="form-field">
          <label for="varietyName">ชื่อพันธุ์</label>
          <input id="variety_name" type="text" formControlName="variety_name" placeholder="กรอกชื่อพันธุ์" />
        </div>
        <!-- จำนวน -->
        <div class="form-field">
          <label for="quantity">จำนวนต้น</label>
          <input id="quantity" type="number" formControlName="quantity" placeholder="กรอกจำนวนต้น" />
        </div>

        <!-- ราคาต่อต้น -->
        <div class="form-field">
          <label for="pricePerTree">ราคาต่อต้น</label>
          <input id="price_per_tree" type="number" formControlName="price_per_tree" placeholder="กรอกราคาต่อต้น" />
        </div>

        <!-- ราคาที่จ่าย (คำนวณ) -->
        <div class="form-field">
          <label for="totalPrice">ราคาที่จ่าย</label>
          <input id="totalPrice" type="number" [value]="calculatedTotalPrice" readonly
            placeholder="ราคาที่จ่ายจะคำนวณอัตโนมัติ" />
        </div>
      </div>

      <!-- ค่าซ่อมอุปกรณ์ -->
      <div *ngIf="selectedCategory === 'ค่าซ่อมอุปกรณ์'" class="form-category-container">
        <!-- วันที่ซ่อม -->
        <div class="form-field">
          <label for="expenseDate">วันที่ซ่อม</label>
          <input id="expenses_date" type="date" formControlName="expenses_date" />
        </div>
        <!-- ชื่อร้านที่ไปซ่อม -->
        <div class="form-field">
          <label for="shopName">ชื่อร้านที่ไปซ่อม</label>
          <input id="shop_name" type="text" formControlName="shop_name" placeholder="กรอกชื่อร้านที่ซ่อม" />
        </div>
        <!-- รายชื่อที่ซ่อม -->
        <div class="form-field">
          <label for="repairNames">รายชื่อที่ซ่อม</label>
          <input id="repair_names" type="text" formControlName="repair_names" placeholder="กรอกรายชื่อที่ซ่อม" />
        </div>

        <!-- รายละเอียด -->
        <div class="form-field">
          <label for="details">รายละเอียด</label>
          <textarea id="details" formControlName="details" placeholder="กรอกรายละเอียดการซ่อม"></textarea>
        </div>

        <!-- ค่าใช้จ่ายในการซ่อม -->
        <div class="form-field">
          <label for="repairCost">ค่าใช้จ่ายในการซ่อม</label>
          <input id="repair_cost" type="number" formControlName="repair_cost" placeholder="กรอกค่าใช้จ่ายในการซ่อม" />
        </div>


      </div>

      <!-- ค่าอุปกรณ์ -->
      <div *ngIf="selectedCategory === 'ค่าอุปกรณ์'" class="form-category-container">
        <!-- วันที่ซื้อ -->
        <div class="form-field">
          <label for="expenseDate">วันที่ซื้อ</label>
          <input id="expenses_date" type="date" formControlName="expenses_date" />
        </div>

        <!-- ชื่อรายการ -->
        <div class="form-field">
          <label for="itemName">ชื่อรายการ</label>
          <input id="item_name" type="text" formControlName="item_name" placeholder="กรอกชื่อรายการ" />
        </div>

        <!-- ชื่อร้านที่ซื้อ -->
        <div class="form-field">
          <label for="shopName">ชื่อร้านที่ซื้อ</label>
          <input id="shop_name" type="text" formControlName="shop_name" placeholder="กรอกชื่อร้านที่ซื้อ" />
        </div>

        <!-- ราคาที่ซื้อ -->
        <div class="form-field">
          <label for="purchasePrice">ราคาที่ซื้อ</label>
          <input id="purchase_price" type="number" formControlName="purchase_price" placeholder="กรอกราคาที่ซื้อ" />
        </div>

        <!-- หมายเหตุ -->
        <div class="form-field">
          <label for="remarks">หมายเหตุ</label>
          <textarea id="descript" formControlName="descript" placeholder="กรอกหมายเหตุเพิ่มเติม"></textarea>
        </div>
      </div>

      <!-- ค่าเช่าที่ดิน -->
      <div *ngIf="selectedCategory === 'ค่าเช่าที่ดิน'" class="form-category-container">
        <!-- วันที่เช่า -->
        <div class="form-field">
          <label for="expenseDate">วันที่เช่า</label>
          <input id="expenses_date" type="date" formControlName="expenses_date" />
        </div>
        <!-- ชื่อเจ้าของที่ให้เช่า -->
        <div class="form-field">
          <label for="ownerName">ชื่อเจ้าของที่ให้เช่า</label>
          <input id="owner_name" type="text" formControlName="owner_name" placeholder="กรอกชื่อเจ้าของที่ให้เช่า" />
        </div>

        <!-- เบอร์โทร -->
        <div class="form-field">
          <label for="ownerPhone">เบอร์โทร</label>
          <input id="owner_phone" type="tel" formControlName="owner_phone" placeholder="กรอกเบอร์โทรของเจ้าของที่" />
        </div>
        <!-- แปลง -->
        <div class="form-field">
          <label for="plotId"> แปลง</label>
          <select id="plot_id" class="form-control" formControlName="plot_id" [disabled]="plotId !== null">
              <option value="" disabled selected>เลือกแปลง</option>
              <option *ngFor="let plot of plots" [value]="plot.plot_id">{{ plot.plot_name }}</option>
          </select>
      </div>


        <!-- ระยะเวลาที่เช่า -->
        <div class="form-field">
          <label for="rentalPeriod">ระยะเวลาที่เช่า (ปี)</label>
          <input id="rental_period" type="number" formControlName="rental_period" placeholder="กรอกระยะเวลาที่เช่า" />
        </div>
        <!-- จำนวนไร่ -->
        <div class="form-field">
          <label for="area">จำนวนไร่</label>
          <input id="area" type="number" formControlName="area" placeholder="กรอกจำนวนไร่" />
        </div>

        <!-- ราคาต่อไร่ -->
        <div class="form-field">
          <label for="pricePerRai">ราคาต่อไร่</label>
          <input id="price_per_rai" type="number" formControlName="price_per_rai" placeholder="กรอกราคาต่อไร่" />
        </div>



        <!-- ราคารวม -->
        <div class="form-field">
          <label for="totalPrice">ราคารวม</label>
          <input id="totalPrice" type="number" [value]="calculatedTotalPrice" readonly
            placeholder="ราคารวมจะคำนวณอัตโนมัติ" />
        </div>


      </div>

      <!-- ค่าขุด -->
      <div *ngIf="selectedCategory === 'ค่าขุด'" class="form-category-container">

        <!-- แปลง -->
        <div class="form-field">
          <label for="plotId"> แปลง</label>
          <select id="plot_id" class="form-control" formControlName="plot_id" [disabled]="plotId !== null">
              <option value="" disabled selected>เลือกแปลง</option>
              <option *ngFor="let plot of plots" [value]="plot.plot_id">{{ plot.plot_name }}</option>
          </select>
      </div>
        <!-- วันที่มารับเงิน -->
        <div class="form-field">
          <label for="expenseDate">วันที่</label>
          <input id="expenses_date" type="date" formControlName="expenses_date" />
        </div>

        <!-- น้ำหนักสินค้า -->
        <div class="form-field">
          <label for="weight">น้ำหนักสินค้า (กิโลกรัม)</label>
          <input id="weight" type="number" formControlName="weight" placeholder="กรอกน้ำหนักสินค้า" />
        </div>

        <!-- ราคาต่อตัน -->
        <div class="form-field">
          <label for="pricePerTon">ราคาต่อตัน</label>
          <input id="price_per_ton" type="number" formControlName="price_per_ton" placeholder="กรอกราคาต่อตัน" />
        </div>

        <!-- ราคาที่จ่าย(คำนวณ) -->
        <div class="form-field">
          <label for="totalPrice">ราคาที่จ่าย</label>
          <input id="totalPrice" type="number" [value]="calculatedTotalPrice" readonly
            placeholder="ราคาที่จ่ายจะคำนวณอัตโนมัติ" />
        </div>
      </div>

      <button type="submit" class="submit-button">
        <i class="fas fa-save"></i> {{ 'expense.form.saveButton' | translate }}
      </button>
    </form>
  </div>
</div>