
  body {
    justify-content: center; /* จัดกึ่งกลางแนวนอน */
    align-items: center;    /* จัดกึ่งกลางแนวตั้ง */
    background-color: #F0ECE3; /* สีพื้นหลัง */
  }
  
  .card {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* เพิ่มเงาให้ดูโดดเด่น */
    border-radius: 8px; /* มุมโค้งมน */
    width: 100%;
    max-width: 500px;     /* จำกัดความกว้างของ card */
    padding: 10px;
    
  }
  .btn-primary {
    border-radius: 15px;
  }
  