<div class="container mt-5">
    <h2 class="text-center">{{ 'profile.changePasswordModalTitle' | translate }}</h2>
    <form (ngSubmit)="changePassword()" class="mt-4">
      <div class="mb-3">
        <label for="newPassword" class="form-label">{{ 'profile.newPassword' | translate }}</label>
        <input
          type="password"
          class="form-control"
          id="newPassword"
          [(ngModel)]="newPassword"
          name="newPassword"
          required
        />
      </div>
      <div class="mb-3">
        <label for="confirmPassword" class="form-label">{{ 'profile.confirmPassword' | translate }}</label>
        <input
          type="password"
          class="form-control"
          id="confirmPassword"
          [(ngModel)]="confirmPassword"
          name="confirmPassword"
          required
        />
      </div>
      <div class="d-flex justify-content-between">
        <button type="button" class="btn btn-secondary" (click)="goBack()">{{ 'profile.closeButton' | translate }}</button>
        <button type="submit" class="btn btn-primary">{{ 'profile.changePasswordButton' | translate }}</button>
      </div>
    </form>
  </div>
  