<body>
  <div class="form-container" style="background-color:#F0ECE3 ;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-5">
          <div class="card">
            <div class="card-header text-center py-3">
              <h4 class="mb-0">{{ 'form.title' | translate }}</h4>
            </div>
            <div class="card-body p-4">
              <form (ngSubmit)="onSubmit()" #forgotPasswordForm="ngForm">
                <div class="form-group mb-4">
                  <label for="email" class="form-label">{{ 'form.emailLabel' | translate }}:</label>
                  <input type="email" class="form-control" id="email" required name="email" [(ngModel)]="email"
                    [placeholder]="'form.emailPlaceholder' | translate" />
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-between mt-4">
                  <button type="submit" class="btn btn-primary">{{ 'form.sendOtpButton' | translate }}</button>
                  <button type="button" class="btn btn-secondary" (click)="goBack()">{{ 'form.backButton' | translate
                    }}</button>
                </div>
              </form>
              <div *ngIf="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>