<div class="container mt-5">
    <h2 class="text-center mb-4">Forgot Password</h2>
    <form (ngSubmit)="onSubmit()" #forgotPasswordForm="ngForm">
      <div class="form-group">
        <label for="email">Email:</label>
        <input
          type="email"
          class="form-control"
          id="email"
          required
          name="email"
          [(ngModel)]="email"
          placeholder="Enter your email"
        />
      </div>
      <div class="d-flex justify-content-between mt-4">
        <button type="submit" class="btn btn-primary">Send OTP</button>
        <button type="button" class="btn btn-secondary" (click)="goBack()">Back</button>
      </div>
    </form>
    <div *ngIf="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>
  </div>
  